/*
Author: mdtablad
Created: 4/3/25
Bugs Known: none
*/

/* --- CORE --- */
body {
	background-color: black;
    background-image: radial-gradient(circle, black, #202020, #202020);
    /* */
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 40px;
}

h1 {

}

h2 {

}

h3 {

}

p {

}

/* --- CLASSES ---  */
.main {

}

/* --- ADDITIONAL ---  */


#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 70px;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 100px;
}
