/*
Author: mdtablad
Created: 4/3/25
Bugs Known: none
*/

/* --- CORE --- */
body {
	background-color: white;
    /*background-image: radial-gradient(circle, black, #121111, #131313);
    /* */
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}

p {

}


h1 {

}

h2 {

}

nav {
    text-align: right;
    font-size: 20px;
    word-spacing: 20px;
}


/* -- LAYOUTS -- */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* --- CLASSES ---  */
.main {

}

.topbar {
    background-color: grey;
    margin: 0%;
    padding: 5px;
    width: 100vw;
    position: fixed;
}

.topbarIsland {
    margin: 20px;
    background-color: #131313;
    border-style: solid;
    border-color: #3e3e3e;
    border-width: 2px;
    border-radius: 20px;
}

.nameArea {
    width: 50%;
    margin-left: 50px;
    margin: 15px;
}

.firstHName {
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 3px;
    text-align: left;
}

.backHName {
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 0px;
    text-align: left;
    font-weight: lighter;
}

.naviArea {
    width: 50%;
    margin-right: 25px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navi {
    font-size: 22px;
}


/* -- DEV PURPOSES -- */
.ident {
    background-color: white;
}

.ident2 {
    background-color: grey;
}

/* --- ADDITIONAL ---  */


